<header class="">
</header>
<main class="" id="body" phx-hook="LocalStateStore">
  <div class="">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
<footer class="">
</footer>
