<div id="app" class="flex min-h-screen flex-col" phx-hook="LocalStateStore">
  <header class=""></header>
  
  <main class="relative flex flex-1 flex-col">
    <%= @inner_content %>
  </main>
  
  <footer class=""></footer>
</div>
 <.flash_group flash={@flash} />
