<div id="app" class="flex flex-col min-h-screen" phx-hook="LocalStateStore">
  <header class="">
  </header>
  <main class="relative flex-1 flex flex-col">
    <%= @inner_content %>
  </main>
  <footer class="">
  </footer>
</div>
<.flash_group flash={@flash} />
